<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.pjt3_4.dao.ProductImageDao">

	<select id="selectImageByType" parameterType="map" resultType="ProductImageDto">
		SELECT product_image.product_id
			,product_image.id AS productImageId
			,product_image.type
			,product_image.file_id AS fileInfold
			,file_info.file_name
			,file_info.save_file_name
			,file_info.content_type
			,file_info.delete_flag
			,file_info.create_date
			,file_info.modify_date FROM product_image 
		INNER JOIN file_info ON product_image.file_id = file_info.id 
		WHERE product_image.product_id = #{productId} AND product_image.type = #{type} LIMIT 1
	</select>
	
</mapper>
