<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.pjt3_4.dao.PromotionDao">

	<select id="selectAll" resultType="PromotionDto">
		SELECT
			promotion.id
			,promotion.product_id
			,promotion.display_info_id
			,product.category_id
			,product.description
			,category.name as categoryName
			,product_image.id as productImageId 
		FROM promotion 
		INNER JOIN product ON promotion.product_id = product.id 
		INNER JOIN category ON product.category_id = category.id 
		INNER JOIN product_image ON product.id = product_image.product_id 
		WHERE product_image.type = 'ma'		
	</select>
	
</mapper>
